<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0">
  <display-name></display-name>
  <servlet>
    <servlet-name>CheckUser</servlet-name>
  </servlet>
  <servlet>
    <servlet-name>UpdateUser</servlet-name>
  </servlet>

  <servlet-mapping>
    <servlet-name>CheckUser</servlet-name>
    <url-pattern>/CheckUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping> 
  
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>
