<html>

<head>
    <title>Change Password</title>
    <script src={{ url_for( 'static', filename='js/changePassword.js' ) }}></script>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href={{ url_for( 'static', filename='css/editProfile.css' ) }} />
    <link rel="stylesheet" href={{ url_for( 'static', filename='css/topStyle.css' ) }} />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS 
    ========================= -->
    <!--bootstrap min css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/bootstrap.min.css" )}}>

    <!--owl carousel min css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/owl.carousel.min.css" )}}>

    <!--slick min css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/slick.css" )}}>

    <!--magnific popup min css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/magnific-popup.css" )}}>

    <!--font awesome css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/font.awesome.css" )}}>

    <!--ionicons css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/ionicons.min.css" )}}>

    <!--7 stroke icons css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/pe-icon-7-stroke.css" )}}>

    <!--animate css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/animate.css" )}}>

    <!--jquery ui min css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/jquery-ui.min.css" )}}>

    <!--plugins css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/plugins.css" )}}>

    <!-- Main Style CSS -->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/style.css" )}}>
</head>

<body>
    <div class="breadcrumbs_area breadcrumbs_bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <h3>Change Password</h3>
                        <ul>
                            <li><a href="/account/profile">My profile</a></li>
                            <li>Change Password</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>{{ msg }}</p>
    <div class="col-lg-6 col-md-6">
        <div class="account_form">
            <h2>Change Password</h2>
            <form action={{ url_for( 'changePassword') }} method="POST" onsubmit="return validate()">
                <p>
                    <label>Old Password <span>*</span></label>
                    <input type="password" name="oldpassword">
                </p>
                <p>
                    <label>New Password  <span>*</span></label>
                    <input type="password" name="newpassword" id="newpassword">
                </p>
                <p>
                    <label>Confirm Password  <span>*</span></label>
                    <input type="password" name="cpassword" id="cpassword">
                </p>
                <div class="login_submit">
                    <button type="submit" value="Save">Save</button>
                    <!-- <input type="submit" value="Save"> -->
                </div>

            </form>
        </div>
    </div>
    <a href="{{ url_for('profileHome') }}">Go to Profile</a>
</body>

</html>