<!DOCTYPE HTML>
<html>

<!-- <head>
    <title>Edit Profile </title>
    <link rel="stylesheet" href={{ url_for( 'static', filename='css/editProfile.css' ) }} />
    <link rel="stylesheet" href={{ url_for( 'static', filename='css/topStyle.css' ) }} />
</head> -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Edit Profile </title>
    <link rel="stylesheet" href={{ url_for( 'static', filename='css/editProfile.css' ) }} />
    <link rel="stylesheet" href={{ url_for( 'static', filename='css/topStyle.css' ) }} />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS 
    ========================= -->
    <!--bootstrap min css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/bootstrap.min.css" )}}>

    <!--owl carousel min css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/owl.carousel.min.css" )}}>

    <!--slick min css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/slick.css" )}}>

    <!--magnific popup min css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/magnific-popup.css" )}}>

    <!--font awesome css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/font.awesome.css" )}}>

    <!--ionicons css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/ionicons.min.css" )}}>

    <!--7 stroke icons css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/pe-icon-7-stroke.css" )}}>

    <!--animate css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/animate.css" )}}>

    <!--jquery ui min css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/jquery-ui.min.css" )}}>

    <!--plugins css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/plugins.css" )}}>

    <!-- Main Style CSS -->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/style.css" )}}>

    <!--modernizr min js here-->
    <!-- <script src="assets/js/vendor/modernizr-3.7.1.min.js"></script> -->


</head>

<body>
    <div id="title">
        <a href="/myshop?SPU_Id={{SPU_Id}}">
            <img id="logo" src={{ url_for( 'static', filename='images/logo.png' ) }} />
        </a>
        <form>
            <input id="searchBox" type="text" name="searchQuery">
            <input id="searchButton" type="submit" value="Search">
        </form>

            <div class="dropdown">
                <button class="dropbtn">Hello<br>{{firstName}}</button>
                <div class="dropdown-content">
                   <!--your order 后面需要改成商家的订单页面-->
                    <a href="/account/orders">Your orders</a>
                    <a href="/account/profile">Your profile</a>
                </div>
            </div>
                <div id="signInButton">
                    <a class="link" href="/logout">Sign out</a>
                </div>


    </div>
    <div class="off_canvars_overlay">
    </div>
<br>
<br>
<br>
<br>
<br>
<br>
    <div class="breadcrumbs_area breadcrumbs_bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <h3>Edit Profile</h3>
                        <ul>
                            <li><a href="/myshop?SPU_Id={{SPU_Id}}">我的商店</a></li>
                            <li>Edit SKU</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6">
        <div class="account_form">
            <h2>Edit Profile</h2>
            <form action="/edit_SKU" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="SPU_Id" value="{{SPU_Id}}">
                <input type="hidden" name="SKU_Id" value="{{SKU_Id}}">
                <p>
                    <label>SKU 名字 <span>*</span></label>
                    <input type="text" name="SKU_name" value={{SKU_Info[1]}}>
                </p>

                <p>
                    <label>SKU 描述 <span>*</span></label>
                    <input type="text" name="SKU_description" value={{SKU_Info[2]}}>
                </p>
                <p>
                    <label>价格 <span>*</span></label>
                    <input type="text" name="SKU_price" value={{SKU_Info[3]/100}}>
                </p>
                <p>
                    <label>库存数量 <span>*</span></label>
                    <input type="text" name="SKU_qty" value={{SKU_Info[5]}}>
                </p>

                <div class="login_submit">
                    <button type="submit" value="Save">Save</button>
                    <!-- <input type="submit" value="Save"> -->
                </div>

            </form>
        </div>
    </div>

    <a id="scrollUp" href="#top" style="position: fixed; z-index: 2147483647; display: inline;"><i
		class="fa fa-angle-double-up"></i></a>

</body>

</html>