<!DOCTYPE HTML>
<html>

<!-- <head>
    <title>Edit Profile </title>
    <link rel="stylesheet" href={{ url_for( 'static', filename='css/editProfile.css' ) }} />
    <link rel="stylesheet" href={{ url_for( 'static', filename='css/topStyle.css' ) }} />
</head> -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>my Shop </title>
    <link rel="stylesheet" href={{ url_for( 'static', filename='css/editProfile.css' ) }} />
    <link rel="stylesheet" href={{ url_for( 'static', filename='css/topStyle.css' ) }} />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS 
    ========================= -->
    <!--bootstrap min css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/bootstrap.min.css" )}}>

    <!--owl carousel min css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/owl.carousel.min.css" )}}>

    <!--slick min css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/slick.css" )}}>

    <!--magnific popup min css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/magnific-popup.css" )}}>

    <!--font awesome css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/font.awesome.css" )}}>

    <!--ionicons css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/ionicons.min.css" )}}>

    <!--7 stroke icons css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/pe-icon-7-stroke.css" )}}>

    <!--animate css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/animate.css" )}}>

    <!--jquery ui min css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/jquery-ui.min.css" )}}>

    <!--plugins css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/plugins.css" )}}>

    <!-- Main Style CSS -->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/style.css" )}}>

    <!--modernizr min js here-->
    <!-- <script src="assets/js/vendor/modernizr-3.7.1.min.js"></script> -->


</head>

<body>
    <div id="title">
        <a href="/">
            <img id="logo" src={{ url_for( 'static', filename='images/logo.png' ) }} />
        </a>
        <form>
            <input id="searchBox" type="text" name="searchQuery">
            <input id="searchButton" type="submit" value="Search">
        </form>

        {% if not loggedIn %}
        <div id="signInButton">
            <a class="link" href="/loginForm">Sign In</a>
        </div>
        {% else %}
        <div class="dropdown">
            <button class="dropbtn">Hello, <br>{{firstName}}</button>
            <div class="dropdown-content">
                <a href="/account/orders">Your orders</a>
                <a href="/account/profile">Your profile</a>
                <hr>
                <a href="/logout">Sign Out</a>
            </div>
        </div>
        {% endif %}
        <div id="kart">
            <a class="link" href="/cart">
                <img src={{url_for( 'static', filename='images/shoppingCart.png' )}} id="cartIcon" /> CART {{noOfItems}}
            </a>
        </div>
    </div>









    </body>