<!DOCTYPE HTML>
<html>

<!-- <head>
    <title>Edit Profile </title>
    <link rel="stylesheet" href={{ url_for( 'static', filename='css/editProfile.css' ) }} />
    <link rel="stylesheet" href={{ url_for( 'static', filename='css/topStyle.css' ) }} />
</head> -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>my Shop </title>
    <link rel="stylesheet" href={{ url_for( 'static', filename='css/editProfile.css' ) }} />
    <link rel="stylesheet" href={{ url_for( 'static', filename='css/topStyle.css' ) }} />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS 
    ========================= -->
    <!--bootstrap min css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/bootstrap.min.css" )}}>

    <!--owl carousel min css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/owl.carousel.min.css" )}}>

    <!--slick min css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/slick.css" )}}>

    <!--magnific popup min css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/magnific-popup.css" )}}>

    <!--font awesome css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/font.awesome.css" )}}>

    <!--ionicons css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/ionicons.min.css" )}}>

    <!--7 stroke icons css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/pe-icon-7-stroke.css" )}}>

    <!--animate css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/animate.css" )}}>

    <!--jquery ui min css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/jquery-ui.min.css" )}}>

    <!--plugins css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/plugins.css" )}}>

    <!-- Main Style CSS -->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/style.css" )}}>

    <!--modernizr min js here-->
    <script src="{{ url_for( 'static', filename='assets/js/vendor/modernizr-3.7.1.min.js' )}}"></script>


</head>

<body>
    <div id="title">
        <a href="/">
            <img id="logo" src={{ url_for( 'static', filename='images/logo.png' ) }} />
        </a>
        <form>
            <input id="searchBox" type="text" name="searchQuery">
            <input id="searchButton" type="submit" value="Search">
        </form>

        {% if not loggedIn %}
        <div id="signInButton">
            <a class="link" href="/loginForm">Sign In</a>
        </div>
        {% else %}
        <div class="dropdown">
            <button class="dropbtn">Hello, <br>{{firstName}}</button>
            <div class="dropdown-content">
                <a href="/account/orders">Your orders</a>
                <a href="/account/profile">Your profile</a>
                <hr>
                <a href="/logout">Sign Out</a>
            </div>
        </div>
        {% endif %}
        <div id="kart">
            <a class="link" href="/cart">
                <img src={{url_for( 'static', filename='images/shoppingCart.png' )}} id="cartIcon" /> CART {{noOfItems}}
            </a>
        </div>
    </div>

    <div class="shop_area shop_reverse">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <!--sidebar widget start-->
                <aside class="sidebar_widget">
                    <div class="widget_inner">
                        <div class="widget_list widget_categories">
                            <!-- 这里放spu -->
                            <ul>
                                <li class="widget_sub_categories sub_categories1"><a href="javascript:void(0)" class="active">iPhone</a>
                                    <ul class="widget_dropdown_categories dropdown_categories1" style="display: block;">
                                        <li><a href="#">iPhone 7</a></li>
                                        <li><a href="#">iPhone 8</a></li>
                                        <li><a href="#">iPhone X</a></li>
                                    </ul>
                                </li>
                                <li class="widget_sub_categories sub_categories1"><a href="javascript:void(0)" class="active">小米</a>
                                    <ul class="widget_dropdown_categories dropdown_categories1" style="display: block;">
                                        <li><a href="#">小米 6</a></li>
                                        <li><a href="#">小米 8</a></li>
                                        <li><a href="#">小米 10</a></li>
                                    </ul>
                                </li>
                                <!-- 这里写新增spu的链接 -->
                                <li><a href="/test_add_spu">新增</a>
                                </li>
                                {% for i in list1 %}
                                <li class="widget_sub_categories sub_categories1"><a href="javascript:void(0)" class="active">{{i[0]}}</li>
                                    {% for x in i[1] %}
                                    <ul class="widget_dropdown_categories dropdown_categories1" style="display: block;">
                                        <li><a href="#">{{x}}</a></li>
                                    </ul>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </aside>
                <!--sidebar widget end-->
            </div>
            <div class="col-lg-9 col-md-12">
                <!--shop wrapper start-->

                <div class="row shop_wrapper grid_list">
                    <!-- 这里放sku -->
                    <div class="col-12">
                        <div class="single_product">
                            <div class="product_thumb">
                                <a class="primary_img" href="product-details.html"><img src="assets/img/product/product1.jpg" alt="这里放图片，还有商品详情的链接"></a>
                            </div>
                            <div class="product_content list_content">
                                <h4 class="product_name"><a href="product-details.html">iPhone 8; 金色; 128G</a></h4>
                                <div class="price_box">
                                    <span class="current_price">$79.00</span>
                                </div>
                                <div class="product_desc">
                                    这里写具体商品描述
                                </div>
                                <div>
                                    <button name="Delete">删除</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="single_product">
                            <div class="product_thumb">
                                <a class="primary_img" href="product-details.html"><img src="assets/img/product/product1.jpg" alt="这里放图片，还有商品详情的链接"></a>
                            </div>
                            <div class="product_content list_content">
                                <h4 class="product_name"><a href="product-details.html">iPhone 8; 金色; 256G</a></h4>
                                <div class="price_box">
                                    <span class="current_price">$99.00</span>
                                </div>
                                <div class="product_desc">
                                    这里写具体商品描述
                                </div>
                                <div>
                                    <!--如果写好了删除功能，直接传入sku_id，进行remove-->
                                    <a href="#"> <button name="Delete">删除</button> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <butto>
                            <!-- 这里放添加sku的链接 -->
                            <a class="account_form button" href="/test_add_sku">添加商品</a>
                        </butto>
                    </div>
                </div>
                <!-- <div class="shop_toolbar t_bottom">
                    <div class="pagination">
                        <ul>
                            <li class="current">1</li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li class="next"><a href="#">next</a></li>
                            <li><a href="#">&gt;&gt;</a></li>
                        </ul>
                    </div>
                </div> -->
                <!--shop toolbar end-->
                <!--shop wrapper end-->
            </div>
        </div>
    </div>

</body>