<!DOCTYPE HTML>
<html>
<head>
<title>Profile Home</title>
<link rel="stylesheet" href={{ url_for('static', filename='css/profileHome.css') }} />
<link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css') }} />
</head>
<body>
<div id="title">
	<a href="/">
		<img id="logo" src={{ url_for( 'static', filename='images/logo.png' ) }} />
	</a>
	<form>
		<input id="searchBox" type="text" name="searchQuery">
		<input id="searchButton" type="submit" value="Search">
	</form>

	{% if not loggedIn %}
	<div id="signInButton">
		<a class="link" href="/loginForm">Sign In</a>
	</div>
	{% else %}
	<div class="dropdown">
		<button class="dropbtn">Hello <br>{{firstName}}</button>
		<div class="dropdown-content">
			{% if is_buyer=='True' %}
			<a href="/account/orders">Your orders</a>
			<a href="/account/profile">Your profile</a>
			<hr>
			<a href="/logout">Sign Out</a>
			{% else %}
			<a href="/myshop">Your shop</a>
			<a href="/account/profile">Your profile</a>
			{% endif %}
		</div>
	</div>
	{% endif %}
	{% if is_buyer=='is_buyer' %}
	<div id="kart">
		<a class="link" href="/cart">
			<img src={{url_for('static', filename='images/shoppingCart.png')}} id="cartIcon" />
			CART {{noOfItems}}
		</a>
	</div>
	<div id="kart">
        <a class="link" href="/wishlist">
           <img  src={{url_for('static', filename='images/wishlist1.png')}} id="wishIcon"/> WISH {{noOfItems}}
        </a>
        </div>
		{% else %}
		<div id="signInButton">
            <a class="link" href="/logout">Sign out</a>
        </div>
		{% endif %}
</div>

<div class="display">
	<a href="/account/profile/view">View Profile</a><br>
	<a href="/account/profile/edit">Edit Profile</a><br>
	<a href="/account/profile/changePassword">Change password</a>
</div>
</body>
</html>

