<html>

<!-- <head>
    <title>Registration</title>
    <script type="text/javascript" src={{ url_for('static', filename = 'js/validateForm.js') }}>
    </script>
</head> -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Register</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS 
    ========================= -->
    <!--bootstrap min css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/bootstrap.min.css" )}}>

    <!--owl carousel min css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/owl.carousel.min.css" )}}>

    <!--slick min css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/slick.css" )}}>

    <!--magnific popup min css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/magnific-popup.css" )}}>

    <!--font awesome css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/font.awesome.css" )}}>

    <!--ionicons css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/ionicons.min.css" )}}>

    <!--7 stroke icons css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/pe-icon-7-stroke.css" )}}>

    <!--animate css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/animate.css" )}}>

    <!--jquery ui min css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/jquery-ui.min.css" )}}>

    <!--plugins css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/plugins.css" )}}>

    <!-- Main Style CSS -->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/style.css" )}}>

    <!--modernizr min js here-->
    <!-- <script src="assets/js/vendor/modernizr-3.7.1.min.js"></script> -->

    <script type="text/javascript" src="{{ url_for('static', filename = 'js/validateForm.js') }}">
    </script>

</head>

<body>
    <!-- <form action="/register" method="POST" onsubmit="return validate()">
        <p>Email: <input type="email" name="email"></p>

    <P>Password: <input type="password" name="password" id="password" required></p>

    <p>Confirm Password: <input type="password" name="cpassword" id="cpassword"></p>

    <p>First Name: <input type="text" name="firstName"></p>
    <p>Last Name: <input type="text" name="lastName"></p>
    <p>Address Line 1: <input type="text" name="address1"></p>
    <p>Address Line 2: <input type="text" name="address2"></p>
    <p>Zipcode: <input type="text" name="zipcode"></p>
    <p>City: <input type="text" name="city"></p>
    <p>State: <input type="text" name="state"></p>
    <p>Country: <input type="text" name="country"></p>
    <p>Phone Number: <input type="text" name="phone"></p>

    <p><input type="submit" value="Register"></p> -->



    <div class="off_canvars_overlay">
    </div>

    <div class="breadcrumbs_area breadcrumbs_bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <h3>Register</h3>
                        <ul>
                            <li><a href="index.html">home</a></li>
                            <li>Register</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="customer_login">
        <div class="container">
            <div class="row">


                <!--register area start-->
                <div class="col-lg-6 col-md-6">
                    <div class="account_form register">
                        <h2>Register</h2>
                        <form action="/test_register" method="POST" onsubmit="return validate()">
                            <p>
                                <label>Email address <span>*</span></label>
                                <input type="text" name="email">
                            </p>
                            <p>
                                <label>Passwords <span>*</span></label>
                                <input type="password" name="password" id="password">
                            </p>
                            <p>
                                <label>Confirm Password <span>*</span></label>
                                <input type="password" name="cpassword" id="cpassword">
                            </p>

                            <p>
                                <label>Name <span>*</span></label>
                                <input type="text" name="name">
                            </p>
                            <p>
                                <label>Address <span>*</span></label>
                                <input type="text" name="address">
                            </p>
                            <select name="is_buyer">

                                <option value="True">buyer</option>
                                <option value="False">seller</option>

                            </select>
                            <!--
                                <p>
                                    <label>Zipcode <span>*</span></label>
                                    <input type="text" name="zipcode">
                                </p>
                                <p>
                                    <label>City <span>*</span></label>
                                    <input type="text" name="city">
                                </p>
                                <p>
                                    <label>State <span>*</span></label>
                                    <input type="text" name="state">
                                </p>
                                <p>
                                    <label>Country <span>*</span></label>
                                    <input type="text" name="country">
                                </p>
                                <p>
                                    <label>Phone Number <span>*</span></label>
                                    <input type="text" name="phone">
                                </p>-->
                            <div class="login_submit">
                                <button type="submit" value="Register">Register</button>
                            </div>
                            <!-- <p><input type="submit" value="Register"></p> -->
                            <div>
                                <button>
                                    <a href="/loginForm">Login here</a>
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
                <!--register area end-->
            </div>
        </div>
    </div>

    <a id="scrollUp" href="#top" style="position: fixed; z-index: 2147483647; display: inline;"><i
            class="fa fa-angle-double-up"></i></a>

    <!-- </form>-->
</body>

</html>