<!DOCTYPE HTML>
<html>
<!--注意，这是直接从cart.html弄来的，还没有修改页面和链接，请不要使用！！！！！！！！-->

<head>
    <title>Your Cart</title>
    <script src={{ url_for( 'static', filename='js/cart.js' ) }}></script>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href={{ url_for( 'static', filename='css/editProfile.css' ) }} />
    <link rel="stylesheet" href={{ url_for( 'static', filename='css/topStyle.css' ) }} />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS 
    ========================= -->
    <!--bootstrap min css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/bootstrap.min.css" )}}>

    <!--owl carousel min css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/owl.carousel.min.css" )}}>

    <!--slick min css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/slick.css" )}}>

    <!--magnific popup min css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/magnific-popup.css" )}}>

    <!--font awesome css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/font.awesome.css" )}}>

    <!--ionicons css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/ionicons.min.css" )}}>

    <!--7 stroke icons css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/pe-icon-7-stroke.css" )}}>

    <!--animate css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/animate.css" )}}>

    <!--jquery ui min css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/jquery-ui.min.css" )}}>

    <!--plugins css-->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/plugins.css" )}}>

    <!-- Main Style CSS -->
    <link rel="stylesheet" href={{ url_for( 'static', filename="assets/css/style.css" )}}>
</head>

<body>
    </head>

    <body>
        <div id="title">
            <a href="/myshop">
                <img id="logo" src={{ url_for( 'static', filename='images/logo.png' ) }} />
            </a>
            <form>
                <input id="searchBox" type="text" name="searchQuery">
                <input id="searchButton" type="submit" value="Search">
            </form>

            <div class="dropdown">
                <button class="dropbtn">Hello<br>{{firstName}}</button>
                <div class="dropdown-content">
                    <!--your order 后面需要改成商家的订单页面-->
                    <a href="/account/orders">Your orders</a>
                    <a href="/account/profile">Your profile</a>
                </div>
            </div>
            <div id="signInButton">
                <a class="link" href="/logout">Sign out</a>
            </div>
        </div>


        <!-- <div id="cartItems">
        <h2>Shopping Cart</h2>
        <div id="tableItems">
            {% for row in products %}
            <div>
                <hr id="seperator">
                <div id="itemImage">
                    <img src={{url_for( 'static', filename='uploads/' +row[3])}} id="image" />
                </div>
                <div id="itemName">
                    <span id="itemNameTag">{{row[1]}}</span><br> In stock<br>
                    <a href="/removeFromCart?productId={{row[0]}}">Remove</a>
                </div>
                <div id="itemPrice">
                    ${{row[2]}}
                </div>
            </div>
            {% endfor %}
            <hr id="seperator">
            <div id="total">
                <span id="subtotal">Subtotal</span> : ${{totalPrice}}
            </div>
        </div>
    </div> -->
        <br><br><br><br><br><br>
        <div class="breadcrumbs_area  breadcrumbs_bg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb_content">
                            <h3>My Order</h3>
                            <ul>
                                <li><a href="/">home</a></li>
                                <li>My Order</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="shopping_cart_area">
            <div class="container">
                <form action="#">
                    <div class="row">
                        <div class="col-12">
                            <div class="table_desc">
                                <div class="cart_page table-responsive">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Buyer</th>
                                                <th>Order Id</th>
                                                <th>Order Time</th>
                                                <th class="product_name">Product</th>
                                                <th class="product-price">Price</th>
                                                <th class="product_quantity">Quantity</th>
                                                <th class="product_total">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for i in data %}
                                            <tr>
                                                <td>{{i[9]}}</td>
                                                <td>{{i[1]}}</td>
                                                <td>{{i[10]}}</td>
                                                <td class="product_name"><a href="/show_productDescription?SKU_Id={{i[2]}}">{{i[7]}}</a></td>
                                                <td class="product-price">{{i[5]/i[3] / 100}}</td>
                                                <td class="product_quantity">{{i[3]}}</td>
                                                <td class="product_total">{{i[5] / 100}}</td>
                                            </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    </>
            </div>
        </div>

    </body>

</html>